.bg {
    background: #FFF url(../images/new-bg.png) no-repeat center top / 100% auto;
  }

h1.main-title {
    top: 35vh;
    max-width: 44vw;
    font-size: 3.3vw;
  }

  .sub-title{
    top: 57vh;
    max-width: 43vw;
    font-size: 2.5vh;
    left: 9vw;
  }

  .product {
    background: url(../images/product.png) no-repeat top left /100% auto;
    width: 50vw;
    height: 63vh;
    right: -2vw;
    top: 27vh;
  }

  #main-container{
    opacity: 0;
    transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
}

  #main-container.show{
    opacity: 1;
}