h1.main-title{
    max-width: 75vw;
}

.rotate-text {
    transform: rotate(270deg);
    position: absolute;
    text-align: center;
    transform-origin: left top;
    /* white-space: ; */
    top: 62vh;
    font-size: 1.2vw;
    margin-left: -2.7vw;
    font-synthesis-weight: none;
    width: 27vw;
    max-width: 19vw;
}

.secondtit{
    position: absolute;
    text-align: center;
    width: 48vw;
    max-width: 25vw;
    top: 15vw;
    left: 22vw;
    font-size: 2.3vh;
    font-synthesis-weight: none;
}

@keyframes slideUp {
    from {
        transform: scaleY(0);
        opacity: 0;
    }
    to {
        transform: scaleY(1);
        opacity: 1;
    }
}

/* .horizontal-bar {
    transform-origin: bottom;
    transform: scaleY(0);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.number-percent .main-title {
    transform-origin: bottom;
    transform: scaleY(0);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.show .horizontal-bar,
.show .number-percent .main-title {
    transform: scaleY(1);
    opacity: 1;
} */

.container-chart{
    position: absolute;
    background: url('../images/xy.png') no-repeat left top  / 95% auto;
    width: 50vw;
    height: 70vh;
    margin-top: 2vw;
    left: 11vw;
}

.number-chart{
    position: absolute;
    font-size: 2vh;
    left: -3vw;
    top: -0.81vw;
}

.percent70{
    background: url('../images/70.gif') no-repeat top left / 100% auto;
    width: 105vw;
    height: 70vh;
    margin-left: -10.4vw;
    top: -4.1vw;
}

.percent52{
    background: url('../images/52.png') no-repeat top left / 100% auto;
    width: 100%;
    height: 62vh;
    margin-left: -5.7vw;
    top: 1.2vw;
}

.percent40{
    background: url('../images/40.png') no-repeat top left / 100% auto;
    width: 96%;
    height: 72vh;
    margin-left: 2.8vw;
    top: 2.7vw;
}

.percent25{
    background: url('../images/25.png') no-repeat top left / 100% auto;
    width: 48vw;
    height: 90vh;
    margin-left: 10.3vw;
    top: 4.8vw;
}

.percent62{
    background: url('../images/62.png') no-repeat top left / 100% auto;
    width: 46vw;
    height: 64vh;
    margin-left: 19.2vw;
    top:  1.3vw;
}

.percent-double {
    background: url('../images/2\ cot.png') no-repeat top left / 100% auto;
    width: 50vw;
    height: 74vh;
    margin-left: 30.2vw;
    top: -4.9vw;
}

.text-chart{
    position: absolute;
    transform: rotate(270deg);
    left: -16vw;
    top: 10vw;
    text-align: center;
}

.one{
    position: absolute;
    top: 43.5vw;
    left: 9.5vw;
}

.two{
    position: absolute;
    top: 43.5vw;
    left: 17vw;
}

.three{
    position: absolute;
    top: 43.5vw;
    left: 24.5vw;
}

.four{
    position: absolute;
    top: 43.5vw;
    left: 32vw;
}

.five{
    position: absolute;
    top: 43.5vw;
    left: 40vw;
}

.text-bottom{
    position: absolute;
    top: 47.2vw;
    text-align: center;
    font-size: 2.8vh;
    left: 23vw;
}